# First attempt to do an Anaconda thingy

In [2]:
import pandas as pd

In [4]:
data={"Country": ["Sweden","India", "Italy"], "Capital":["Stockholm","New Delhi","Rome"]}

In [5]:
data

{'Country': ['Sweden', 'India', 'Italy'],
 'Capital': ['Stockholm', 'New Delhi', 'Rome']}

In [6]:
dataframe=pd.DataFrame(data, columns=["Country","Capital"])

In [7]:
dataframe

  Country    Capital
0  Sweden  Stockholm
1   India  New Delhi
2   Italy       Rome

In [8]:
print(dataframe)

  Country    Capital
0  Sweden  Stockholm
1   India  New Delhi
2   Italy       Rome